<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Hello world</title>
<link rel="stylesheet" type="text/css"
      href="webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
<body>
<kbd><span th:text="${message.time}"></span>&nbsp;<span class="glyphicon glyphicon-console"></span>&nbsp;<span th:text="${message.message}"></span></kbd>
<br/>
<script type="text/javascript" src="webjars/jquery/2.1.4/jquery.min.js"></script>
</body>
<br/>
<div class="container">
      <div class="row">
          <div class="col-md-3">
              <form id="addForm">
                  <div class="form-group">
                      <label for="keyInput">Movie ID (key)</label>
                      <input name="keyInput" id="keyInput" class="form-control"/>
                  </div>
                  <div class="form-group">
                      <label for="valueInput">Movie Name (value)</label>
                      <input name="valueInput" id="valueInput" class="form-control"/>
                  </div>
                  <button class="btn btn-default" id="addButton">Add</button>
              </form>
          </div>
          <div class="col-md-8 col-md-offset-1">
              <table class="table table-hover" id="mainTable">
                  <thead>
                      <tr>
                          <th>Key</th>
                          <th>Value</th>
                          <th></th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody></tbody>
              </table>
          </div>
      </div>
  </div>


<script>
/**
 * Create HTML table row.
 *
 * \param text (str) HTML code to be placed inside the row.
 */
 function tr(text) {
    return '<tr>' + text + '</tr>';
}

/**
 * Create HTML table cell element.
 *
 * \param text (str) The text to be placed inside the cell.
 */
function td(text) {
    return '<td>' + text + '</td>';
}

/**
 * Edit value: load key and value into inputs.
 */
function editButton(key) {
    var format = '<button '
        + 'class="btn btn-default" '
        + 'onclick="editKey(\'{key}\')" '
        + '>Edit</button>';
    return format.replace(/{key}/g, key);
}

/**
 * Create HTML button with which a key-value pair is deleted from persistence.
 *
 * \param key (str) that'll be deleted when the created button is clicked.
 */
function deleteButton(key) {
    var format = '<button '
        + 'class="btn btn-default" '
        + 'data-key="{key}" '
        + 'onclick="deleteKey(\'{key}\')" '
        + '>Delete</button>'
    return format.replace(/{key}/g, key);
}

/**
 * Create HTML table row element.
 *
 * \param key (str) text into the key cell.
 * \param value (str) text into the value cell.
 */
function row(key, value) {
    return $(
        tr(
            td(key) +
            td(value) +
            td(editButton(key)) +
            td(deleteButton(key))));
}

/**
 * Clear and reload the values in data table.
 */
function refreshTable() {
    $.get('/values', function(data) {
        var attr,
            mainTable = $('#mainTable tbody');
        mainTable.empty();
        for (attr in data) {
            if (data.hasOwnProperty(attr)) {
                mainTable.append(row(attr, data[attr]));
            }
        }
    });
}

function editKey(key) {
    /* Find the row with key in first column (key column). */
    var format = '#mainTable tbody td:first-child:contains("{key}")',
        selector = format.replace(/{key}/, key),
        cells = $(selector).parent().children(),
        key = cells[0].textContent,
        value = cells[1].textContent,
        keyInput = $('#keyInput'),
        valueInput = $('#valueInput');

    /* Load the key and value texts into inputs
     * Select value text so it can be directly typed to
     */
    keyInput.val(key);
    valueInput.val(value);
    valueInput.select();
}

/**
 * Delete key-value pair.
 *
 * \param key (str) The key to be deleted.
 */
function deleteKey(key) {
    /*
     * Delete the key.
     * Reload keys and values in table to reflect the deleted ones.
     * Set keyboard focus to key input: ready to start typing.
     */
    $.post('/delete', {key: key}, function() {
        refreshTable();
        $('#keyInput').focus();
    });
}

$(document).ready(function() {
    var keyInput = $('#keyInput'),
        valueInput = $('#valueInput');

    refreshTable();
    $('#addForm').on('submit', function(event) {
        var data = {
            key: keyInput.val(),
            value: valueInput.val()
        };

        /*
         * Persist the new key-value pair.
         * Clear the inputs.
         * Set keyboard focus to key input: ready to start typing.
         */
        $.post('/add', data, function() {
            refreshTable();
            keyInput.val('');
            valueInput.val('');
            keyInput.focus();
        });
        /* Prevent HTTP form submit */
        event.preventDefault();
    });

    /* Focus keyboard input into key input; ready to start typing */
    keyInput.focus();
});
</script>
</html> 